<table class="table">
  <thead>
  <tr>
    <th scope="col">Temperature</th>
    <th scope="col">Track Temperature</th>
    <th scope="col">Remaining</th>
    <th scope="col">Weather</th>
    <th scope="col">Trackstatus</th>
  </tr>
  <tr>
    <td id="temp"></td>
    <td id="tracktemp"></td>
    <td id="time"></td>
    <td id="weather"></td>
    <td id="state"></td>
  </tr>
</table>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">P</th>
    <th scope="col">PIC</th>
    <th scope="col">Best lap</th>
    <th scope="col">Last lap</th>
    <th scope="col">Gap</th>
    <th scope="col">Int</th>
    <th scope="col">S1</th>
    <th scope="col">S2</th>
    <th scope="col">S3</th>
    <th scope="col">State</th>
    <th scope="col">Driver</th>
    <th scope="col">Team</th>
    <th scope="col">Laps</th>
    <th scope="col">Stops</th>
    <th scope="col">BS1</th>
    <th scope="col">BS2</th>
    <th scope="col">BS3</th>
  </tr>
  </thead>
  <tbody id="data">
  </tbody>
</table>