<div id="about">
<h1>Lemons Timing</h1>
<p>
  My name is Marthyn Olthof, programmer by day, motorsport lover also by day.
  You can support me by following me on github.com/marthyn (you can find the <a href="https://github.com/Marthyn/timing_lemons">source</a> there too). Or you can donate a coffee to my <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=XPL8633DZPCNU&currency_code=EUR&source=url">PayPal</a>
</p>
  <p> <a href='javascript:;' onclick="$('#about').hide()">hide this shit</a></p>
</div>
<table class="table table-striped sticky-header">
  <thead>
  <tr>
    <th scope="col">Highlight #</th>
    <th scope="col">Temperature</th>
    <th scope="col">Track Temperature</th>
    <th scope="col">Remaining</th>
    <th scope="col">Weather</th>
    <th scope="col">Trackstatus</th>
  </tr>
  <tr>
    <td><input value='38,29,26,85' id="fav" /></td>
    <td id="temp"></td>
    <td id="tracktemp"></td>
    <td id="time"></td>
    <td id="weather"></td>
    <td id="state"></td>
  </tr>
</table>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">P</th>
    <th scope="col">PIC</th>
    <th scope="col">Last lap</th>
    <th scope="col">Gap</th>
    <th scope="col">Int</th>
    <th scope="col">ClassGap</th>
    <th scope="col">ClassInt</th>
    <th scope="col">S1</th>
    <th scope="col">S2</th>
    <th scope="col">S3</th>
    <th scope="col">State</th>
    <th scope="col">Driver</th>
    <th scope="col">Team</th>
    <th scope="col">Laps</th>
    <th scope="col">Stops</th>
    <th scope="col">Best lap</th>
    <th scope="col">BS1</th>
    <th scope="col">BS2</th>
    <th scope="col">BS3</th>
  </tr>
  </thead>
  <tbody id="data">
  </tbody>
</table>