<%
  fields = {
      number: '#',
      place: 'P',
      placeInClass: 'PIC',
      lastLap: 'Last',
      gap: 'Gap',
      interval: 'Int',
      classGap: 'ClassGap',
      classInterval: 'ClassInt',
      sectorOne: 'S1',
      sectorTwo: 'S2',
      sectorThree: 'S3',
      state: 'State',
      driver: 'Driver',
      team: 'Team',
      laps: 'Laps',
      stops: 'Stops',
      best: 'Best',
      bestSectorOne: 'BS1',
      bestSectorTwo: 'BS2',
      bestSectorThree: 'BS3'
  }
%>

<div id="about">
<h1>Lemons Timing</h1>
<p>
  My name is Marthyn Olthof, programmer by day, motorsport lover also by day.
  You can support me by following me on github.com/marthyn (you can find the <a href="https://github.com/Marthyn/timing_lemons">source</a> there too). Or you can donate a coffee to my <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=XPL8633DZPCNU&currency_code=EUR&source=url">PayPal</a>
</p>
<p>
  Listen to the HagertyRLM coverage for the best Le Mans experience: <a href="http://www.radiolemans.co/">www.radiolemans.co</a>
</p>
<p> <a href='javascript:;' onclick="$('#about').hide()">hide the header</a></p>
</div>

<div>
  <div id="filters">
    <div id="checkboxes">
      <% fields.each do |key, field| %>
        <label for='checkbox-<%= key %>'>
          <input type='checkbox' checked id='checkbox-<%= key %>' /><%= field %></label>
      <% end %>
    </div>
  </div>
  <div id="styles">
    <label for='light'>
      Light
      <input id='light' type='radio' name='styles' value='light' checked />
    </label>
    <label for='dark'>
      Dark
      <input id='dark' type='radio' name='styles' value='dark' />
    </label>
  </div>
</div>

<table class="table table-striped sticky-header">
  <thead>
  <tr>
    <th scope="col">Highlight #</th>
    <th scope="col">Temperature</th>
    <th scope="col">Track Temperature</th>
    <th scope="col">Remaining</th>
    <th scope="col">Weather</th>
    <th scope="col">Trackstatus</th>
  </tr>
  <tr>
    <td><input value='29,27,50,37,32,78,57' id="fav" /></td>
    <td id="temp"></td>
    <td id="tracktemp"></td>
    <td id="time"></td>
    <td id="weather"></td>
    <td id="state"></td>
  </tr>
</table>
<table class="table">
  <thead id="tableLabels">
  </thead>
  <tbody id="data">
  </tbody>
</table>