@import "bootstrap";
td {
  white-space: nowrap;
}

.light {
}
.LMP1 {
  background-color: rgb(228, 31, 24);
  color: white;
}

.LMP2 {
  background-color: rgb(25, 86, 137);
  color: white;
}

.LMGTEPro {
  background-color: rgb(3, 131, 47);
  color: white;
}

.LMGTEAm {
  background-color: rgb(255, 70, 1);
  color: white;
}

.table {
  border: 0px;

  th {
    padding-left: 2px;
  }

  td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 1px;
    //border: 0px
  }
}

.red {
  background-color: red;
  color: white;
}

.yellow, .full_yellow, .safety_car {
  background-color: yellow;
  color: black;
}

.green {
  background-color: green;
  color: white;
}

.fcy {
  background-color: yellow;
}

.In {
  background-color: rgb(0, 75, 138);
  color: white;
}

.Out {
  background-color: rgb(249, 192, 6)
}

.Run {
  background-color: rgb(128, 190, 55);
  color: white;
}

.Stop {
  background-color: rgb(236, 26, 32);
  color: white;
}

.Chk {
  background-color: black;
  color: white;
}

.fav {
  background-color: beige;
}

.blink {
  -webkit-animation: blinking 1s infinite; /* Safari 4+ */
  -moz-animation: blinking 1s infinite; /* Fx 5+ */
  -o-animation: blinking 1s infinite; /* Opera 12+ */
  animation: blinking 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinking {
  0%, 49% {
    background-color: yellow;
  }
  50%, 100% {
    background-color: white;
  }
}

table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #FFF;
}

#filters {
  float:left;
  width: 90%;
}
.multiselect {
  width: 100%;
}
#styles {
  float:right;
  width: 8%;
  margin-left: 2px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes label {
  display: inline;
  margin-left: 7px;

  input {
    margin-right: 3px
  }
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#fav {
  border: 0.5px solid gray;
  background: none;
  -webkit-appearance: none;
}

.dark {
  $color: white; // #66ff54;
  color: $color;
  background-color: black;

  p {
    color: $color;
  }

  .table {
    color: $color;
  }

  .overSelect {
    background: black;
  }

  input {
    background: black;
    color: $color;
  }

  .fav {
    background-color: deeppink;
  }

  tr:nth-child(even).fav {
    background-color: deeppink !important;
  }

  .selectBox {
    option {
      background: black;
      color: $color;
    }
  }

  .table {
    border: 0px;

    tr:nth-child(even) {
      background: #282828;
    }

    td {
      border-bottom: 1px gray solid;
    }
  }
}